# IDE
.idea/
*.iml

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Local Env
.env
.env.local

# Archives & Logs
*.zip
*.log
uploads/
